body {
    font-family: Helvetica;
}

h1 {
    text-align: center;
}

main {
    display: flex;
}


/* Aside 1 */
form {
    padding: 12px;
    background-color: rgb(241, 243, 244);
}

aside {
    padding: 48px;
}

.button {
    height: 32px;
    border: none;
    border-radius: 4px;
}

.bg-aqua {
    background-color: rgb(26, 122, 192);
    color: white;
}

.bg-reset {
    background-color: rgb(58, 60, 60);
    color: white;
}

input[type=number] {
    width: 75%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-family: monospace;
    font-size: 14px;
  }


  /* Aside 2 */
.hasil {
    text-align: center;
    padding: 12px;
    background-color: rgb(241, 243, 244); 
  }

h4 {
    font-size: xxx-large;
  }

.information {
    text-align: center;
    padding: 12px;
    background-color: rgb(241, 243, 244); 
  }

.download-apk {
    padding-top: 10px;
    text-align: center;
  }
  
.logo {
    display: flex;
    justify-content: center;
}
  
img {
    width: 200px;
    height: 70px;
  }
  /* Footer */
footer {
    text-align: center;
    font-family: cursive;
  }


  /* Responsive */
@media only screen and (max-width: 480px) {
    main {
        flex-direction: column;
    }

    .regist {
        display: flex;
    }

    .button {
        margin-bottom: 10px;
    }

    .bg-aqua {
        margin: 5px;
    }
}
